<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VegasScriptHelper.Properties.Vegas" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VegasScriptHelper.Properties.Vegas>
            <setting name="AudioInsertInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AudioFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAudioFolderRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsInsertFromStartPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioTrackName" serializeAs="String">
                <value>セリフ</value>
            </setting>
            <setting name="JimakuOutlineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExpandVideoEventMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JimakuColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="JimakuOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="JimakuFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ActorColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ActorOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ActorOutlineWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrefixBehavior" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseJimakuColorSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseActorColorSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAudioMediaBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseJimakuMediaBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseActorMediaBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseJimakuBGMediaBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseActorBGMediaBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioMediaBinName" serializeAs="String">
                <value>ボイロ音声</value>
            </setting>
            <setting name="JimakuMediaBinName" serializeAs="String">
                <value>ボイロ字幕</value>
            </setting>
            <setting name="ActorMediaBinName" serializeAs="String">
                <value>ボイロ声優名</value>
            </setting>
            <setting name="JimakuBGMediaBinName" serializeAs="String">
                <value>字幕背景</value>
            </setting>
            <setting name="ActorBGMediaBinName" serializeAs="String">
                <value>声優名背景</value>
            </setting>
            <setting name="CreateOneEventCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateJimakuBG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateActorBG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JimakuTrackName" serializeAs="String">
                <value>字幕</value>
            </setting>
            <setting name="JimakuPresetName" serializeAs="String">
                <value />
            </setting>
            <setting name="ActorPresetName" serializeAs="String">
                <value />
            </setting>
            <setting name="JimakuBGMediaName" serializeAs="String">
                <value />
            </setting>
            <setting name="ActorBGMediaName" serializeAs="String">
                <value />
            </setting>
            <setting name="JimakuBGMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActorBGMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsGroupSerifuJimakuEvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JimakuMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActorMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActorTrackName" serializeAs="String">
                <value>声優名</value>
            </setting>
            <setting name="JimakuBGTrackName" serializeAs="String">
                <value>字幕背景</value>
            </setting>
            <setting name="ActorBGTrackName" serializeAs="String">
                <value>声優名背景</value>
            </setting>
            <setting name="RemoveActorAttribute" serializeAs="String">
                <value>False</value>
            </setting>
        </VegasScriptHelper.Properties.Vegas>
    </userSettings>
</configuration>