<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VegasScriptHelper.Properties.DefaultBinName" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VegasScriptHelper.Properties.VoiceActorOutlineColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VegasScriptHelper.Properties.SupportedAudioFileSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VegasScriptHelper.Properties.VoiceActorColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VegasScriptHelper.Properties.Vegas" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VegasScriptHelper.Properties.DefaultBinName>
            <setting name="voiroVoice" serializeAs="String">
                <value>ボイロ音声</value>
            </setting>
            <setting name="voiroJimaku" serializeAs="String">
                <value>ボイロ字幕</value>
            </setting>
            <setting name="jimakuBackground" serializeAs="String">
                <value>字幕背景</value>
            </setting>
            <setting name="tachie" serializeAs="String">
                <value>立ち絵</value>
            </setting>
            <setting name="dlAudio" serializeAs="String">
                <value>DL音声</value>
            </setting>
            <setting name="createdAudio" serializeAs="String">
                <value>作成音声</value>
            </setting>
            <setting name="dlMovie" serializeAs="String">
                <value>DL動画</value>
            </setting>
            <setting name="createdMovie" serializeAs="String">
                <value>作成動画</value>
            </setting>
            <setting name="dlImage" serializeAs="String">
                <value>DL画像</value>
            </setting>
            <setting name="createdImage" serializeAs="String">
                <value>作成画像</value>
            </setting>
        </VegasScriptHelper.Properties.DefaultBinName>
        <VegasScriptHelper.Properties.VoiceActorOutlineColor>
            <setting name="ずんだもん" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="波音リツ" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="琴葉_茜" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="四国めたん" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_あまあま_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ツンツン_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_セクシー_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ささやき_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ヒソヒソ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_ノーマル_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ずんだもん_あまあま_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ずんだもん_ツンツン_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ずんだもん_セクシー_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ずんだもん_ささやき_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ずんだもん_ヒソヒソ_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="春日部つむぎ" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="雨晴はう" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="玄野武宏" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="玄野武宏_ノーマル_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="玄野武宏_喜び_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="玄野武宏_ツンギレ_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="玄野武宏_悲しみ_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="白上虎太郎" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="白上虎太郎_ふつう_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="白上虎太郎_わーい_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="白上虎太郎_びくびく_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="白上虎太郎_おこ_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="白上虎太郎_ぴえーん_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="青山龍星" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="冥鳴ひまり" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_あまあま_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ツンツン_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_セクシー_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ささやき_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ヒソヒソ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="もち子さん" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="剣崎雌雄" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WhiteCUL" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WhiteCUL_ノーマル_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WhiteCUL_たのしい_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WhiteCUL_かなしい_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WhiteCUL_ぴえーん_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="後鬼" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="後鬼_人間ver__" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="後鬼_ぬいぐるみver__" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7_アナウンス_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7_読み聞かせ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ちび式じい" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="櫻歌ミコ" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="櫻歌ミコ_ノーマル_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="櫻歌ミコ_第二形態_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="櫻歌ミコ_ロリ_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="小夜_SAYO" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_ノーマル_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_楽々_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_恐怖_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_内緒話_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="琴葉_葵" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="結月ゆかり" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="紲星あかり" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="桜乃そら" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="京町セイカ_v1_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="フリモメン" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="東北ずん子" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="女性1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="女性2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="女性3" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="女の子" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="男性1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男性2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男性3" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="さとうささら" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="小春六花" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ロサ_ROSA_" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="男性4" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="女声4" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="男の子" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="彩澄しゅお" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="彩澄りりせ" serializeAs="String">
                <value>Black</value>
            </setting>
        </VegasScriptHelper.Properties.VoiceActorOutlineColor>
        <VegasScriptHelper.Properties.SupportedAudioFileSettings>
            <setting name="Wave" serializeAs="String">
                <value>.wav</value>
            </setting>
            <setting name="MP3" serializeAs="String">
                <value>.mp3</value>
            </setting>
            <setting name="Ogg" serializeAs="String">
                <value>.ogg</value>
            </setting>
        </VegasScriptHelper.Properties.SupportedAudioFileSettings>
        <VegasScriptHelper.Properties.VoiceActorColor>
            <setting name="ずんだもん" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="波音リツ" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="琴葉_茜" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="四国めたん" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="四国めたん_ノーマル_" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="四国めたん_あまあま_" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="四国めたん_ツンツン_" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="四国めたん_セクシー_" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="四国めたん_ささやき_" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="四国めたん_ヒソヒソ_" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="ずんだもん_ノーマル_" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ずんだもん_あまあま_" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ずんだもん_ツンツン_" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ずんだもん_セクシー_" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ずんだもん_ささやき_" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ずんだもん_ヒソヒソ_" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="春日部つむぎ" serializeAs="String">
                <value>PaleGoldenrod</value>
            </setting>
            <setting name="雨晴はう" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="玄野武宏" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="玄野武宏_ノーマル_" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="玄野武宏_喜び_" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="玄野武宏_ツンギレ_" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="玄野武宏_悲しみ_" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="白上虎太郎" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="白上虎太郎_ふつう_" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="白上虎太郎_わーい_" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="白上虎太郎_びくびく_" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="白上虎太郎_おこ_" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="白上虎太郎_ぴえーん_" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="青山龍星" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="冥鳴ひまり" serializeAs="String">
                <value>BlueViolet</value>
            </setting>
            <setting name="九州そら" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="九州そら_ノーマル_" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="九州そら_あまあま_" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="九州そら_ツンツン_" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="九州そら_セクシー_" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="九州そら_ささやき_" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="九州そら_ヒソヒソ_" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="もち子さん" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="剣崎雌雄" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="WhiteCUL" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="WhiteCUL_ノーマル_" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="WhiteCUL_たのしい_" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="WhiteCUL_かなしい_" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="WhiteCUL_ぴえーん_" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="後鬼" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="後鬼_人間ver__" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="後鬼_ぬいぐるみver__" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="No_7" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="No_7_ノーマル_" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="No_7_アナウンス_" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="No_7_読み聞かせ_" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="ちび式じい" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="櫻歌ミコ" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="櫻歌ミコ_ノーマル_" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="櫻歌ミコ_第二形態_" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="櫻歌ミコ_ロリ_" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="小夜_SAYO" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_ノーマル_" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_楽々_" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_恐怖_" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_内緒話_" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="琴葉_葵" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="結月ゆかり" serializeAs="String">
                <value>Orchid</value>
            </setting>
            <setting name="紲星あかり" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="桜乃そら" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="京町セイカ_v1_" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="フリモメン" serializeAs="String">
                <value>Turquoise</value>
            </setting>
            <setting name="東北ずん子" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="女性1" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="女性2" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="女性3" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="女の子" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="男性1" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="男性2" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="男性3" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="さとうささら" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="小春六花" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ロサ_ROSA_" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="男性4" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="女声4" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="男の子" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="彩澄しゅお" serializeAs="String">
                <value>HotPink</value>
            </setting>
            <setting name="彩澄りりせ" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
        </VegasScriptHelper.Properties.VoiceActorColor>
        <VegasScriptHelper.Properties.Vegas>
            <setting name="audioInsertInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="openDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="isRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startFrom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="assignEventMargin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="targetAssignTrackName" serializeAs="String">
                <value>Subtitles</value>
            </setting>
            <setting name="jimakuOutlineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="expandVideoEventMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="jimakuColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="outlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </VegasScriptHelper.Properties.Vegas>
    </userSettings>
</configuration>