<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VegasScriptAssignVideoEventFromAudioEvent.Properties.SupportedAudioFileSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VegasScriptAssignVideoEventFromAudioEvent.Properties.VoiceActorColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VegasScriptAssignVideoEventFromAudioEvent.Properties.Vegas" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VegasScriptAssignVideoEventFromAudioEvent.Properties.SupportedAudioFileSettings>
            <setting name="Wave" serializeAs="String">
                <value>.wav</value>
            </setting>
            <setting name="MP3" serializeAs="String">
                <value>.mp3</value>
            </setting>
            <setting name="Ogg" serializeAs="String">
                <value>.ogg</value>
            </setting>
        </VegasScriptAssignVideoEventFromAudioEvent.Properties.SupportedAudioFileSettings>
        <VegasScriptAssignVideoEventFromAudioEvent.Properties.VoiceActorColor>
            <setting name="ずんだもん" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="波音リツ" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="琴葉_茜" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="四国めたん" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_あまあま_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ツンツン_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_セクシー_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ささやき_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="四国めたん_ヒソヒソ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_あまあま_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_ツンツン_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_セクシー_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_ささやき_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ずんだもん_ヒソヒソ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="春部つむぎ" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="雨晴はう" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="玄野武宏" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="玄野武宏_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="玄野武宏_喜び_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="玄野武宏_ツンギレ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="玄野武宏_悲しみ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="白上虎太郎" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="白上虎太郎_ふつう_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="白上虎太郎_わーい_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="白上虎太郎_びくびく_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="白上虎太郎_おこ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="白上虎太郎_ぴえーん_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="青山龍星" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="冥鳴ひまり" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_あまあま_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ツンツン_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_セクシー_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ささやき_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="九州そら_ヒソヒソ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="もち子さん" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="剣崎雌雄" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WhiteCUL" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WhiteCUL_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WhiteCUL_たのしい_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WhiteCUL_かなしい_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WhiteCUL_ぴえーん_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="後鬼" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="後鬼_人間ver__" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="後鬼_ぬいぐるみver__" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7_アナウンス_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="No_7_読み聞かせ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ちび式じい" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="櫻歌ミコ" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="櫻歌ミコ_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="櫻歌ミコ_第二形態_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="櫻歌ミコ_ロリ_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="小夜_SAYO" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_ノーマル_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_楽々_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_恐怖_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ナースロボ＿タイプＴ_内緒話_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="琴葉_葵" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="結月ゆかり" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="紲星あかり" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="桜乃そら" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="京町セイカ_v1_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="フリモメン" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="東北ずん子" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="女性1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="女性2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="女性3" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="女の子" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男性1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男性2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男性3" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="さとうささら" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="小春六花" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ロサ_ROSA_" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男性4" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="女声4" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="男の子" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="彩澄しゅお" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="彩澄りりせ" serializeAs="String">
                <value>White</value>
            </setting>
        </VegasScriptAssignVideoEventFromAudioEvent.Properties.VoiceActorColor>
        <VegasScriptAssignVideoEventFromAudioEvent.Properties.Vegas>
            <setting name="audioInsertInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="openDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="isRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startFrom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="assignEventMargin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="targetAssignTrackName" serializeAs="String">
                <value>Subtitles</value>
            </setting>
            <setting name="jimakuOutlineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="expandVideoEventMargin" serializeAs="String">
                <value>0</value>
            </setting>
        </VegasScriptAssignVideoEventFromAudioEvent.Properties.Vegas>
    </userSettings>
</configuration>